@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 51, 51, 51;
    --color-text-muted: 173, 173, 173;
    --color-text-inverted: 195, 254, 215;
    --color-text-tooling: 173, 173, 173;
    --color-text-info: 9, 64, 77;
    --color-text-success: 63, 81, 1;
    --color-text-warning: 78, 63, 1;
    --color-text-error: 87, 1, 0;
    --color-bg-info: 200, 225, 231;
    --color-bg-success: 222, 242, 159;
    --color-bg-warning: 247, 229, 137;
    --color-bg-error: 242, 182, 181;
    --color-primary: 81, 153, 3;
    --color-bg-content-base: 255, 255, 255;
    --color-bg-content-section: 230, 230, 230;
    --color-bg-content-section-hover: 213, 213, 213;
    --color-bg-tooling: 75, 70, 70;
  }

  .theme-light {
    --color-text-base: 51, 51, 51;
    --color-text-muted: 173, 173, 173;
    --color-text-inverted: 195, 254, 215;
    --color-text-tooling: 173, 173, 173;
    --color-text-info: 9, 64, 77;
    --color-text-success: 63, 81, 1;
    --color-text-warning: 78, 63, 1;
    --color-text-error: 87, 1, 0;
    --color-bg-info: 200, 225, 231;
    --color-bg-success: 222, 242, 159;
    --color-bg-warning: 247, 229, 137;
    --color-bg-error: 242, 182, 181;
    --color-primary: 81, 153, 3;
    --color-bg-content-base: 255, 255, 255;
    --color-bg-content-section: 230, 230, 230;
    --color-bg-content-section-hover: 213, 213, 213;
    --color-bg-tooling: 75, 70, 70;
  }

  .theme-dark {
    --color-text-base: 215, 203, 204;
    --color-text-muted: 175, 167, 167;
    --color-text-inverted: 221, 255, 184;
    --color-text-tooling: 168, 168, 168;
    --color-text-info: 1, 43, 60;
    --color-text-success: 1, 51, 31;
    --color-text-warning: 252, 188, 35;
    --color-text-error: 71, 0, 0;
    --color-bg-info: 59, 191, 248;
    --color-bg-success: 56, 211, 153;
    --color-bg-warning: 247, 229, 137;
    --color-bg-error: 242, 182, 181;
    --color-primary: 29, 184, 83;
    --color-bg-content-base: 23, 18, 18;
    --color-bg-content-section: 20, 16, 16;
    --color-bg-content-section-hover: 31, 24, 24;
    --color-bg-tooling: 14, 11, 11;
  }

  .theme-space {
    --color-text-base: 179, 196, 238;
    --color-text-muted: 168, 183, 224;
    --color-text-inverted: 1, 43, 60;
    --color-text-tooling: 179, 196, 238;
    --color-text-info: 204, 241, 255;
    --color-text-success: 0, 51, 44;
    --color-text-warning: 66, 46, 0;
    --color-text-error: 70, 0, 11;
    --color-bg-info: 12, 166, 233;
    --color-bg-success: 41, 212, 188;
    --color-bg-warning: 244, 194, 81;
    --color-bg-error: 251, 111, 132;
    --color-primary: 59, 191, 248;
    --color-bg-content-base: 15, 23, 41;
    --color-bg-content-section: 11, 19, 34;
    --color-bg-content-section-hover: 19, 32, 56;
    --color-bg-tooling: 29, 41, 58;
  }
}

@layer components {
  .navbar-item {
    @apply text-theme-base flex justify-center shadow-2xl p-0.5 h-6 w-6
        items-center cursor-pointer;
  }
}
